language: cpp
sudo: false
dist: trusty

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - cmake-data
      - cmake

compiler:
  - gcc
  - clang

before_script:
  - gcc -v && g++ -v && cmake --version

script: 
  - mkdir build/ && cd build/
  - cmake ../
  - make CXXFLAGS="-std=c++11"
  - ctest
